################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Szamla_Kliensalkalmazas/.vs/Szamla_Kliensalkalmazas
